
.tarefas {
    margin-top: 30px;

}

.tarefas li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    margin-top: 10px;
    transition: all 300ms;
    background-color: black;
    color:white;
    border-radius: 10px;
    font-weight: 700
}
.tarefas li:hover {
    background-color:#bfbfbf;
    color: black;
}
.tarefas li .edit {
    margin-right: 10px;
    color: #51c5de
}
.tarefas li .delete{
    margin-right: 10px;
    color: #d04c64
}
.tarefas li .edit,.tarefas li .delete {
    cursor:pointer;
    transition: all 300ms

}
.tarefas li:hover .edit,.tarefas li:hover .delete {
    color:black;

}
.tarefa li span{
    display:flex;
    align-items:center
}
